/**
 * Settings Page Styles on Admin
 */
#wpbody-content .wrap {
  font-family: "BIZ UDPGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, Meiryo, sans-serif;
  font-size: $base-size;
  line-height: 1.6923;
  letter-spacing: 0.25px;
  font-feature-settings: 'palt';
}

#wp-option-list {
  li {
    line-height: 30px;
    
    label {
      font-weight: 600;
    }
  }
}

#allowed-hosts li,
#allowed-addresses li,
#allowed-referers li,
#auth-accounts li,
#allowed-login-ips li {
  transition: all 0.3s linear;
}

p { font-size: $base-size; }

code,
.code {
  font-family: Hack, monospace;
  font-size: $base-size;
  letter-spacing: 0;
}

.nav-tab {
  font-size: $base-size;
}

.form-table {
  th,
  td,
  td p:not(.description) {
    font-size: $base-size;
    line-height: 1.6923;
  }
}

.button {
  font-size: $base-size;
  line-height: 2.142857;
}

input {
  font-size: $base-size;
  line-height: 2.142857;

  &.large-text, &.full-text {
    width: 99%;
  }
}

textarea {
  font-size: $base-size;
  line-height: 1.5172414;
  background-color: $white;

  &.large-text, &.full-text {
    width: 99%;
  }
}

.medium-text {
  width: 35em;
}

.regular-text {
  width: 25em;
}

.semi-regular-text {
  width: 21em;
}

.normal-text {
  width: 18em;
}

.little-text {
  width: 12em;

  /* same default size */
}

input.small-text {
  width: 50px;
  padding: 0 6px;
}

label input.small-text {
  margin-top: -4px;
}

input {
  &[type=number].small-text {
    width: 65px;
    padding-right: 0;
  }

  &.tiny-text {
    width: 35px;
  }

  &[type=number].tiny-text {
    width: 45px;
    padding-right: 0;
  }
}

select {
  appearance: none;
  font-size: $base-size !important;

  option {
    min-height: $base-size * 1.5 !important;
  }
}

.unit {
  margin-left: 0.5em;
  font-size: $small-size;
  line-height: 30px;
  vertical-align: bottom;
  color: $gray;
}

.prefix,
.surfix,
.gap {
  font-size: $small-size;
  line-height: 2.142857;

  .mdi {
    font-size: $icon-size;
  }
}

.prefix { margin: auto 6px auto 2px; }
.surfix { margin: auto 2px auto 6px; }
.gap { margin: auto 7px; }

input + button,
input + .button,
select + button,
select + .button {
  margin-left: 5px !important;
}

input[readonly] {
  background-color: $smoke;
  border-color: $light-gray;
  color: $gray;
}

.mdi {
  position: relative;
  font-size: $icon-size;
  line-height: 1;
  opacity: 0.86;

  &::before {
    transform: translateY(1px);
  }
}

.button .mdi {
  font-size: 1.3846em;/* 16px when base 13px */
  line-height: 1;
  top: 1px;
  pointer-events: none;
}

.short-lived {
  opacity: 1;
  transition: all 0.2s linear;
}

.prefix-toggle {
  margin-top: 0.25em !important;
}

.text-success { color: $success !important; }
.text-info { color: $info !important; }
.text-warn { color: $warn !important; }
.text-alert { color: $alert !important; }
.text-denger { color: $denger !important; }

.well {
  padding: 1em;
  border: solid 1px $light-gray;
  border-radius: 2px;
  background-color: $white;
}

.prefix-logo {
  position: relative;
  display: inline-block;
  width: auto;
  top: 4px;
  margin-right: 8px;
}

dl { padding-left: 0; }
dt { font-weight: 500; }
dd {
  margin-left: 1em;
  padding: 0.25em 0;
}

.focus {
  transition: all 0.5s linear;
  background-color: transparent;

  &.focus-active {
    background-color: $focused;
  }
}

/*
 * Toggle button
 */
.tgl {
  position: relative;
  margin: auto 0;
  padding-left: 50px;
  min-height: 22px;
  line-height: 22px;
  vertical-align: middle;

  input[type="checkbox"] {
    display: none;

    &,
    &::after,
    &::before,
    & *,
    & *::after,
    & *::before,
    & ~ .tgl-btn {
      box-sizing: border-box;

      &::selection { background: none; }
    }

    + .tgl-btn {
      outline: 0;
      display: block;
      width: 44px;
      height: 22px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      user-select: none;

      background: rgba($fog, 0.5);
      border-radius: $base-size;
      padding: 3px;
      transition: all 0.4s ease;

      &::after,
      &::before {
        position: relative;
        display: block;
        content: '';
        width: 16px;
        height: 100%;
      }

      &::after {
        left: 1px;
        border-radius: 16px;
        background: $white;
        transition: all 0.2s ease;
      }

      &::before { display: none; }
    }

    &:checked + .tgl-btn {
      /* theme */
      background: $primary;

      &::after {
        left: 21px;
      }
    }
  }

  &.flat {
    input[type="checkbox"] {
      + .tgl-btn {
        padding: 3px;
        background: transparent;
        border: 4px solid $light-gray;
        transition: all 0.2s ease;

        &::after {
          width: calc(50% - 4px);
          background: $light-gray;
          border-radius: 50%;
        }
      }

      &:checked + .tgl-btn {
        background: transparent;
        border: 4px solid $primary;

        &::after {
          left: calc(50% + 4px);
          background: $primary;
        }
      }
    }
  }
}

/*
 * Expandable Block
 */
.expansionable-block {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 0 0 3px;
  overflow-y: hidden;
  width: auto;
  height: 5em;
  z-index: 1;
  transition: all .3s ease-out;

  &.expanded {
    height: auto;
  }
}

.drawer-control {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 4px;
  cursor: url(../images/arrow-expand-vertical.svg), row-resize;
  background: #F0F0F1;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5em;
    top: -5em;
    left: 0;
    background: linear-gradient(rgba(240,240,241,0.1), rgba(240,240,241,1));
  }

  &.expanded {
    cursor: url(../images/arrow-collapse-vertical.svg), row-resize;

    &::before {
      height: 1px;
      top: 0;
    }

    .chevron-left {
      transform: rotate(-0.5turn);
    }

    .drawer-label {
      /* padding-top: 16px; */

      .mdi-dots-vertical { display: none; }
    }

    .chevron-right {
      transform: rotate(0.5turn);
    }
  }

  * { pointer-events: none; }

  .mdi-chevron-down {
    transition: all .3s linear;
  }

  .drawer-label {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #7D7D7D;
  }

  &:hover {
    background: rgba(28,145,234,0.12) !important;

    * { color: rgb(28,145,234) !important; }
  }
}

/*
 * Toggle field for password
 */
.password-field {
  position: relative;
  padding-right: 28px !important;

  + .field-toggle {
    position: relative;
    display: inline-block;
    left: -35px;
    top: 0;
    width: 30px;
    height: 30px;
    margin-right: -28px;
    color: $dark-gray;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

    &:hover {
      color: $primary !important;
    }
  }
}

/*
 * Loader
 */
.loader-container {
  width: 100px;
  height: max-content;
  margin: auto;
}
